.general__order {
    margin: 5% auto;
    width: 100vw;
}
.general__space {
    width: 70vw;
    margin: 0 auto;
}
.wrap__content {
    width: 100%;
}

.poster__img {
    width: 32vw; 
    border-radius: 5px;
    margin: 10px;
}
.poster__img img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
    display: block; 
}
.space__detail {
    width: max-content;
}
.detail__content {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    color: white;
    margin: 0 10px;
    font-size: 1.2rem;
}
.detail__content i {
    color: rgb(255, 242, 0);
}
.order__movie >* {
    margin: 15px auto 10px 15px;
}
.name__movie {
    margin: 0;;
    font-size: 1.3rem;
}
.name__movie h1 {
    margin: 15px 0 30px 0;
}
.descrip__movie {
   margin: 30px 0 10px 0;
}
.descrip__movie >*{
    margin: 15px auto 10px 15px;
}
.content__movie >* {
    margin: 15px auto 10px 15px;
}
.showtime {
    width: 50vw;
    margin: 5% auto;
    text-align: center;
}

.week {
    justify-content: space-between;
}
.so {
    font-size: 1.3em;
    font-weight: 700;
}
.day {
    width: 120px;
    height: 90px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    line-height: 0.5;
    cursor: pointer;
}
.day.active {
    background-color: rgb(255, 238, 0); 
}
.theater__list {
    width: 70vw;
    margin: auto;
}
.title__theater {
    width: 80%;
    margin: auto;
    justify-content: space-between;
}