*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: purple;
}

.flex{
    display: flex;
}
/* ---------------------------------header---------------------------------- */
.head{
    width: 90%;
    margin: 0 auto;
}
.img{
    width: 10%;
}
.img img{
    width: 100%;
    margin: 0.4rem 0rem;
}
.tieude{
    width: 90%;
}
.list{
    justify-content: space-between;
}
.list li{
    list-style: none;
    width: 20%;
}
.list>li>a{
    color: black;
    text-decoration: none;
}
.tieude1{
    justify-content: space-between;
    margin: 0.4rem 0rem;
}
.button>button{
    width: 40%;
    padding: 0.8rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.button>button:nth-child(1){
    background-color: gray;
    color: black;
}
#sign-in{
    background-color: rgb(227, 39, 165);
    color: wheat;
}
.button>button:nth-child(1):hover{
    background-color: rgb(165, 146, 146);
    color: rgb(183, 190, 194);
}
#sign-in:hover{
    background-color: rgb(143, 5, 90);
    color:rgb(237, 187, 187)
}
.timkiem>input{
    margin-top: 1.1rem;
    padding: 0.4rem;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 0.3rem;
}
.tiemkiem>input::placeholder{
    color: gray;
}
.tiemkiem input{
    position: relative;
}
.timkiem i{
    position: absolute;
    top: 1.8rem;
    right: 30.5rem;
    background-color: white;
}
/* ----------------------------------tieude2---------------------------------- */
.list li a{
    color: white;
}
.list li{
    padding: 1rem;
}
.list li:hover{
    background-color: rgb(227, 39, 165);
    color:wheat;
}
/* ------------------------------------dangki--------------------------------------- */
.address,.addres{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    z-index: 999;
}
.address-form{
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
    border: 1px solid red;
}
#address-close,#addres-close{
    border: 1px solid red;
    cursor: pointer;
}
